$primaryGreen: #71be23;
$secondaryGreen: #005454;
$accentGreen: #d8ecd8;
$gold: #fbe9b6;
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P:regular");

body {
    background-color: $accentGreen;
    background-image: url("background.png");
    //background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Specsavers Web";
    font-weight: 500;
    color: $secondaryGreen;
}
h1 {
    font-size: 65pt;
    font-weight: bold;
}
h3 {
    margin-bottom: 0 !important;
    font-size: 32pt;
}
p {
    align-self: baseline;
}
.lb {
    background-color: $accentGreen;
    padding: 1rem;
    border-radius: 1rem;
}
.lb-in {
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}
.cup {
    width: auto;
    height: 180px;
}
.place {
    display: inline-flex;
    align-items: center;
    height: 80%;
    padding-left: 35px;
    font-size: 15pt;
}
.suffix {
    align-self: baseline;
}
.top,
.bottom {
    height: 15vh;
}
.middle {
    height: 70vh;
}
.score {
    font-size: 30pt;
}
.name {
    font-size: 25pt;
    //text-transform: uppercase;
}
.leaderboard {
    //background-color: $primaryGreen;
    //border-radius: 2rem;
    padding: 3rem;
}
.entry {
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    padding: 2rem;
}
.contestant {
    height: 5vh;
    color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: $secondaryGreen;
    border-radius: 5rem;
}
.contestant-back {
    color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: $secondaryGreen;
    font-family: "Specsavers Web";
    border-radius: 2rem;
}
.ays {
    font-family: "Specsavers Web";
}
.front {
    margin-bottom: 3rem;
}
.back {
    margin-bottom: 1rem;
}
.winner {
    color: $gold;
}
.login {
    background-color: white;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
}
.admin-select {
    background-color: #e6eee6;
    border-radius: 2rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.d-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.lod-er-view {
    margin-top: 25vh;
    color: $accentGreen;
}
input[type="checkbox"] {
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
input[type="checkbox"]:checked {
    accent-color: $secondaryGreen;
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="date"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin: 8px 0;
    padding: 12px 20px;
    resize: none;
    width: 100%;
}
.collapsible {
    background-color: #b3b3b3;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.collapsible-archive {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}
.content-archive {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-out;
    background-color: #f1f1f1;
}
.backend-boards {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}
.collapsible:hover {
    background-color: #555;
}
.active {
    color: white;
    background-color: #555;
    max-height: fit-content !important;
}
.vh-100 {
    height: 100vh;
}
.logout {
    position: absolute;
    display: grid;
    top: 1rem;
    left: 1rem;
    button {
        font-size: 1.5vw;
    }
}
.top-title {
    background-color: #f1f1f1;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.info-button {
    position: absolute;
    display: grid;
    right: 2vw;
    left: 85vw;
    top: 1rem;
    button {
        font-size: 1.5vw;
    }
}
.terms-list {
    font-weight: 400;
}
dialog {
    top: 0;
    bottom: 0;
    border: none !important;
    border-radius: 1rem;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 1.6rem;
    max-width: 90vw;
}
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}
